@media (max-width:900px){
      .nav__list{
            display: none;
      }
      .nav__menu{
            gap: 20px;
      }
      .bars{
            display: block;
      }
      .banner{
            padding: 110px 0 90px; 
      }
      .banner__title {
            font-size: 3.5rem;
      }
}

@media (max-width:768px){
      .banner{
            padding: 90px 0; 
      }
      .banner__title {
            font-size: 2.8rem;
            margin-bottom: 20px;
            line-height: 120%;
      }
      .banner__desc{
            font-size: 1rem;
            line-height: 120%;
            max-width: 100%;
            margin: 0 auto 40px auto;
      }
}

@media (max-width:500px){
      .nav{
            padding: 20px 0;
      }
      .nav .container {
            flex-direction: column;
            gap: 20px;
      }
      .nav__menu{
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;
      }
}