@font-face {
      font-family: 'Rubik';
      src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
            url('../fonts/Rubik-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: 'Rubik';
      src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
            url('../fonts/Rubik-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: 'Rubik';
      src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
            url('../fonts/Rubik-Medium.woff') format('woff');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}

:root {
      --light-clr: #fff;
      --dark-clr: #02012B;
      --dark-clr2: #222222;
      --dark-clr3: #555555;
      --primary-clr: #19BCE4;
      --bor-rad: 6px;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Rubik', sans-serif;
}

.container {
      max-width: 1190px;
      margin: 0 auto;
      padding: 0 10px;
}

.base-btn {
      background-color: var(--primary-clr);
      color: var(--light-clr);
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 24px;
      border: 2px solid var(--primary-clr);
      transition: .3s linear;
}

.base-btn:hover {
      background-color: transparent;
      color: var(--primary-clr);
      cursor: pointer;
}

.base-btn:active {
      opacity: 0.6;
}

/* ----- NAV ----- */
.nav {
      padding: 46px 0 44px;
      background: var(--light-clr);
}

.nav .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.nav__logo {
      display: flex;
      align-items: center;
      gap: 6px;
      text-decoration: none;
}

.nav__logo span {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21.33px;
      color: var(--dark-clr);
}

.nav__menu {
      display: flex;
      gap: 120px;
      align-items: center;
}

.nav__list {
      display: flex;
      gap: 40px;
}

.nav__list a {
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21.33px;
      color: var(--dark-clr);
      position: relative;
}

.nav__list a::after {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: var(--primary-clr);
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s linear;
}

.nav__list a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
}

.nav__list a:active {
      opacity: 0.7;
}

.nav__btn {
      padding: 11px 25px;
      border-radius: var(--bor-rad);
}

.bars {
      display: none;
}

.bars svg {
      font-size: 50px;
}

/* ----- BANNER ----- */
.banner {
      padding: 185px 0 140px;
      background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/bg-banner.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--light-clr);
      text-align: center;
}

.banner__title {
      font-size: 4rem;
      font-weight: 700;
      line-height: 75.84px;
      margin-bottom: 24px;
}

.banner__desc {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 30px;
      max-width: 622px;
      margin: 0 auto 97px auto;
}

.banner__info {
      width: 100%;
      background-color: var(--light-clr);
      padding: 24px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
}

.banner__info-item {
      border: 0.5px solid rgba(25, 187, 228, 0.3);
      padding: 10px 30px;
      text-align: start;
}

.banner__info-item select {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16.59px;
      color: var(--dark-clr3);
      border: none;
}

.banner__info-item h3 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 23.7px;
      color: var(--dark-clr2);
      margin-top: 8px;
}
.banner-btn{
      width: 100%;
      padding: 23px 0;
}